
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#danhgia-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#danhgia-table th, #danhgia-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#danhgia-table th {
    background-color: #3498db;
    color: #fff;
}
